<!DOCTYPE html>
<html>
	<head>
		<title><%= blocks.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

		<%- stylesheets %>

	</head>
	
	<body 	ng-app='<%= blocks.ng_app %>'
			ng-controller='<%= blocks.ng_controller%>'
			ng-init='<%= blocks.ng_init %>'>

		<div ng-view>
			<%- body %>
		</div>

		<!-- Jquery -->
		<script src="/javascripts/jquery.min.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->

		<!-- Bootstrap JS -->
		<script src="/javascripts/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

		<script src="/javascripts/angular.min.js"></script>

		<script src="/javascripts/angular-animate.js"></script>

		<script src="/javascripts/angular-route.js"></script>

		<script src="/javascripts/angular-css.min.js"></script>


		<%- scripts %>

	</body>
</html>

